@import "variables/variables.scss";
@import "basic/borders.scss";
@import "basic/inputs.scss";
@import "basic/flex.scss";
@import "basic/text.scss";
@import "basic/margin.scss";
@import "basic/padding.scss";
@import "basic/positions.scss";
.separator {
   border-bottom: 1px solid #020000;
   margin-bottom: 20px;
   margin-top: 20px;
}
