#actor_img_div {
   width: 225px;
   height: 225px;
   margin-top: auto;
   margin-bottom: auto;
   overflow: hidden;
}
#actor_img {
   width: 225px;
   height: 225px;
}
#clan-images img {
   width: 125px;
   height: 125px;
   margin-top: auto;
   margin-bottom: auto;
   border: none;
   outline: none;
}
