$padding-values: 1 2 3 4 5 6 7 8 9 10 15 40;

/* no padding */
.p-0 {
   padding: 0px;
}

@mixin generate-padding {
   @for $i from 1 through length($padding-values) {
      $current-padding: nth($padding-values, $i);
      .pb-#{$current-padding} {
         padding-bottom: #{$current-padding}px;
      }
      .pt-#{$current-padding} {
         padding-top: #{$current-padding}px;
      }
      .pl-#{$current-padding} {
         padding-left: #{$current-padding}px;
      }
      .pr-#{$current-padding} {
         padding-right: #{$current-padding}px;
      }
      .py-#{$current-padding} {
         padding-top: #{$current-padding}px;
         padding-bottom: #{$current-padding}px;
      }
      .px-#{$current-padding} {
         padding-left: #{$current-padding}px;
         padding-right: #{$current-padding}px;
      }
      .p-#{$current-padding} {
         padding: #{$current-padding}px;
      }
   }
}

@include generate-padding;
