.w-20px {
   width: 20px;
}
.w-60px {
   width: 60px;
}

.w-64px {
   width: 64px;
}
.w-80px {
   width: 80px;
}
.w-full {
   width: 100%;
}
.w-150px {
   width: 150px;
}
.w-135px {
   width: 135px;
}
.w-140px {
   width: 140px;
}

.h-100px {
   height: 100px;
}

.h-auto {
   height: auto;
}
