.text-primary {
   color: #000000;
}

.text-water-ring {
   color: $water-ring;
}

.text-fire-ring {
   color: $fire-ring;
}

.text-earth-ring {
   color: $earth-ring;
}

.text-air-ring {
   color: $air-ring;
}

.text-void-ring {
   color: $void-ring;
}
